<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><i class='bx bxl-gmail'></i></li>
      
        <li><i class='bx bxl-instagram'></i></li>
        <li><i class='bx bxl-github'></i></li>
        <li><a href="https://www.linkedin.com/in/juan-pablo-rojas-5b97431b8/"><i class='bx bxl-linkedin' ></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Telefono: 3517637248</li>
        <a href="mailto:juan_pablo_rojas@hotmail.com"><li >juan_pablo_rojas@hotmail.com</li></a>
    </ul>
</div>