<div class="container" >
    <div class="title" >
        <span>Mi Portfolio</span>
    </div>

    <div class="name">
        
        <span>
          
            <span >Hola!,</span> Me llamo
        </span><br>
        <span class="animate__animated animate__bounce" >Juan Pablo Rojas</span><br>
        <span>Software Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../../assets/WhatsApp Image 2023-01-11 at 15.00.07-PhotoRoom.png-PhotoRoom.png" alt="">
    </div>
</div>